<h1>Organizations Index</h1>

<table>
  <tbody>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Employee Count</th>
        <th>Tech Team Size</th>
        <th>Address</th>
        <th>Twitter</th>
        <th>Published Status</th>
    </tr>

    <% @organizations.each do |organization| %>
    <tr>
      <td>
        <h5><%= link_to organization.name, organization_path(organization) %></h5>
        <p>Related Tech</p>
        <%= organization.technologies.map { |technology| technology.name }.join(', ') %>
      </td>
      <td><%= organization.description %></td>
      <td><%= organization.employee_count %></td>
      <td><%= organization.tech_team_size %></td>
      <td><%= organization.address %></td>
      <td><%= organization.twitter %></td>
      <td><%= organization.published %></td>
    </tr>
    <% end %>

  </tbody>
</table>
