
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
    <div style='width: 800px;'>
      <div id="map" style='width: 800px; height: 400px;'></div>
    </div>

    <script>
    let handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){


    let results = []
    <% @search.each do |s| %>

      results.push({
                  "lat": <%= s.latitude %>,
                  "lng": <%= s.longitude %>,
                  "infowindow": "<%= s.address %>"
                  })
    <% end %>

      markers = handler.addMarkers(results);

      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap()
    });

    </script>
  </div>
    </div>
      </div>
<hr/>
<div class="container">
  <div class="row">
    <div class="col">
        <form>
          <input name="search" class="form-control" id="search" placeholder="Search">
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    <hr/>
  <div class="row">
    <div class="col">
      <div class="dropdown" >
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
      Tech Stack
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="buttons1">
      <button class="dropdown-item" type="button" id="">Action</button>
      <button class="dropdown-item" type="button" id="">Another action</button>
      <button class="dropdown-item" type="button" id="">Something else here</button>
    </div>
  </div>
    </div>
    <div class="col">

    </div>
    <div class="col">
      <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Team Size
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="buttons2">
      <button class="dropdown-item" type="button" id="">Action</button>
      <button class="dropdown-item" type="button" id="">Another action</button>
      <button class="dropdown-item" type="button" id="">Something else here</button>
    </div>
  </div>
    </div>
  </div>
  <hr/>
<div class="container">
  <div class="row">
       <% @search.each do |c| %>
       <div class="card col-3 m-2" style="width: 18rem;">
         <% if c.image? %>
         <img class="card-img-top" src="<%=c.image%>" alt="Card image cap">
        <% else %>
        <img class="card-img-top" src="https://pbs.twimg.com/profile_images/876936130549043200/2T5camnk_400x400.jpg" alt="Card image cap">
        <% end %>
        <div class="card-body">
          <h3 class="card-title"><%= link_to c.name, organization_path(c) %> <br>
            <h6> Address: <%= c.address %></h6>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
  <hr/>
  <div class="row">
  <div class="col">
    <button type="button" class="btn btn-secondary btn-sm" id="previous">Previous</button>
  </div>
  <div class="col">

  </div>
  <div class="col">
  <button type="button" class="btn btn-secondary btn-sm" id="next">Next</button>
  </div>
</div>
</div>

</div>

  </body>

