<div class="card mx-auto mt-4" style="width: 75rem;">
  <div class="card-body d-flex">
    <div>
      <% if @organization.image? %>
        <img class="show-image mr-5" src="<%= @organization.image.url(:large) %>" alt="Card image cap">
      <% else %>
        <img class="show-image mr-5" src="https://pbs.twimg.com/profile_images/876936130549043200/2T5camnk_400x400.jpg" alt="Card image cap">
      <% end %>
    </div>
    <div>
      <h1 class="card-title"><strong><%= @organization.name %></strong></h1>
      <p class="card-text"><strong>Address: </strong><%= @organization.address %></p>
      <h6 class="card-subtitle mb-2 text-muted"><%= @organization.technologies.map{ |technology| technology.name }.to_sentence %></h6>
      <p class="card-text"><strong>About: </strong><%= @organization.description %></p>
      <p><strong>Team Size: </strong><%= @organization.employee_count %></p>
      <p><strong>Tech Team Size: </strong><%= @organization.tech_team_size %></ br>
    </div>

    <div>
      <a href="<%= @organization.website_url %>" class="card-link">Visit Website</a>

      <% if user_signed_in? %>
        |
        <%= link_to "Claim This Business", url: claim_request_path(@organization), method: 'post', class:"card-link" %>
      <% end %>

    </div>
  </div>
</div>

<div class="card mx-auto mt-4" style="width: 75rem;">
  <div class="card-body">
    <h3 class="card-title"><strong>Company Events</strong></h3>
    <% @organization.events.each do |event| %>
      <p class="card-text"><%= link_to event.event_name, event.event_url %></p>
    <% end %>
  </div>
</div>

<div class="card mx-auto mt-4" style="width: 75rem;">
  <div class="card-body">
    <h3 class="card-title"><strong>News</strong></h3>
    <% @organization.announcements.each do |a| %>
      <p class="card-text"><%= link_to a.article_name, a.article_url %></p>
    <% end %>
  </div>
</div>

<div class="card mx-auto mt-4" style="width: 75rem;">
  <div class="card-body d-flex">
    <h3 class="card-title mr-5"><strong>Twitter Feed</strong></h3>
    <p class="card-text m-2"><%= link_to @organization.twitter, "https://twitter.com" %></p>
  </div>
</div>
