<!DOCTYPE html>
<html>
  <head>
    <title>DevSpotlight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="#">DevSpotlight</a>

      <%= link_to 'Directory' %>
      |
      <%= link_to 'Events'%>
      |
      <%= link_to 'News'%>
      |
    </nav>
    <%= yield %>
  </body>
</html>
