<!DOCTYPE html>
<html>
  <head>
    <title>DevSpotlight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">

      <a class="navbar-brand" href="/">DevSpotlight</a>
        <%= link_to 'Directory', organizations_path ,{:class => "btn btn-info"}%>
        <%= link_to 'Events', events_path,{:class => "btn btn-info"} %>
        <%= link_to 'News', announcements_path,{:class => "btn btn-info"}%>
      
    </div>




    </nav>
    <%= yield %>

	<hr>
	<div class="d-flex justify-content-between">
      <div class="d-flex flex-column justify-content-start ml-4">
        <% if current_user.present? %>
        <h2><%= current_user.full_name %></h2>
        <%= link_to 'Sign out', session_path, method: :delete %>

        <% else %>
        <%= link_to 'Sign in ', new_session_path%>
        <%= link_to 'Sign up ', new_user_path%>
        <% end %>
        <%= link_to 'About', about_path%>

      </div>
        <div class="d-flex align-items-end m-2">
          © Built and maintained by Genius Coperation
        </div>
	</div>
  </body>
</html>
